<div ng-controller="EventsCtrl">

  <div class="page-header">
    <h5>
      筛选动态：
      <div class="btn-group btn-group-sm">
        <a href="#" class="btn btn-success">{{filter.member.name}}</a>
        <a href="#" class="btn btn-success dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li ng-repeat="(key, member) in teamMembers" ng-click="filter.member = member">
            <a href="#member-{{member.key}}">{{member.name}}</a>
          </li>
        </ul>
      </div>
    </h5>
  </div>

  <div class="panel panel-default" ng-repeat="(date, evtsInTime) in events">
    <div class="panel-heading"><h5>{{date | dateFmt}}</h5></div>
    <div class="panel-body">

      <ul class="media-list" ng-repeat="(time, evts) in evtsInTime">
        <li class="media" ng-repeat="(key, evt) in evts">
          <div class="clearfix">
            <blockquote style="width:100%" ng-show="evts[$index - 1].project_id != evt.project_id" class="pull-right">
              <a href="/projects/{{projects[evt.project_id].key}}">{{projects[evt.project_id].title}}</a>
            </blockquote>
          </div>
          <a class="pull-left" href="/users/{{evt.user.key}}}">
            <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">
            <span>{{time}}</span>
          </a>
          <div class="media-body">
            <h6 class="media-heading">
              <span class="glyphicon {{evt.kind|kindToIcon}}"></span>&nbsp;
              <a href="/users/{{evt.user.key}}">{{evt.user.name}}</span>:</a>
              <span ng-bind-html="evt.title | htmlSafe"></span>
            </h6>
            <p ng-bind-html="evt.content | htmlSafe"></p>
          </div>
        </li>
      </ul>

    </div>
    <div style="text-align: center;" pv-scrolled="nextPage()">
      <a class="btn btn-success btn-lg" ng-class="{disabled: noMore}" style="margin:1em auto;">{{loadLabel}}</a>
    </div>
  </div>

</div>
<script type="text/javascript">
(function(){
var teamMembers = <%=@team_members.to_json.html_safe%>;
var projects = <%=@projects.to_json.html_safe%>;

var app = angular.module('tower.events', [], angular.noop);
app.directive('pvScrolled', function($window) {
  return function(scope, elm, attr) {
    var raw = elm[0];
    var win = angular.element($window);

    win.bind('scroll', function() {
      // console.log({
      //   '可视区高': $window.innerHeight,
      //   '卷动高度': $window.pageYOffset,
      //   '元素距顶部距离': raw.offsetTop
      // });

      if(raw.offsetTop - $window.pageYOffset  < $window.innerHeight){
        scope.$apply(attr.pvScrolled);
      };
    });
  };
});
app.filter('dateFmt', function(){
  var map = {
    '<%=Time.zone.now.strftime('%Y-%m-%d')%>': '今',
    '<%=(Time.zone.now - 1.day).strftime('%Y-%m-%d')%>': '昨'
  };
  return function(val){

    return map[val] ? map[val] : val;
  }
});
app.filter('htmlSafe', function($sce) {
  return function(val) {
      return $sce.trustAsHtml(val);
  };
});
app.filter('kindToIcon', function() {
  var map = {
    'todo_asso_comments_add': 'glyphicon-pushpin',
    'todo_attr_complate_at_changed_reopen': 'glyphicon-repeat',
    'todo_attr_complate_at_changed_finished': 'glyphicon-flag',
    'todo_attr_begin_at_changed_go': 'glyphicon-play',
    'todo_attr_owner_id_changed_dispatch': 'glyphicon-hand-right'
  };
  return function(val) {
      return map[val] ? map[val] : 'glyphicon-folder-open';
  };
});
app.controller('EventsCtrl', ['$scope', '$http', '$sce', function($scope, $http, $sce){

  $scope.teamMembers = teamMembers;
  $scope.projects = projects;
  $scope.teamMembers.unshift({key: null, name: '所有成员'});
  $scope.events = {};
  $scope.loadLabel = '更多动态加载中...';
  $scope.onload = false;

  $scope.filter = {
    member: $scope.teamMembers[0],
    page: 1
  }

  $scope.nextPage = function(){
    if($scope.noMore == true) return;
    if($scope.onload) return;
    $scope.filter.page++;
  };

  $scope.$watch('filter',function(to, from){
    var config = {
      method: 'GET',
      url: '<%=events_path%>.json',
      params: {page: to.page}
    };
    var isEmpty = function(obj) {
      for(var name in obj){
        return false;
      }
      return true;
    };
    if(to.member && to.member.key){
      config.params.member= to.member.key;
    }
    //如果member发生变化，清空状态列表，并重置页数
    console.log([to.member.key, from.member.key]);
    if(to.member.key != from.member.key){
      config.params.page = 1;
      $scope.noMore = false;
      $scope.events = {};
    }
    if($scope.noMore == true) return;
    $scope.onload = true;
    $http(config).success(function(json, status, headers, config) {
      if(isEmpty(json)){
        $scope.loadLabel = '没有更多的动态了';
        $scope.noMore = true;
        return;
      };
      angular.forEach(json, function(value, key){
        if($scope.events[key]){
          angular.forEach(value, function(v2, k2){
            if($scope.events[key][k2]){
              $scope.events[key][k2] = $scope.events[key][k2].concat(v2);
            } else {
              $scope.events[key][k2] = v2;
            }
          });
        } else {
          $scope.events[key] = value;
        }
      });
      $scope.onload = false;
    })
    .error(function(data, status, headers, config) {
      alert(data);
      console.log(data);
    });
    console.log(to, from);
  }, true);

}]);

angular.bootstrap(document.documentElement, ['tower.events']);
})();
</script>