<h1>Listing projects</h1>

<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Title</th>
      <th>Team</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.key %></td>
        <td><%= project.title %></td>
        <td><%= project.team %></td>
        <td><%= link_to '任务列表', project_todos_path(project) %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
